.promo {
  background-color: #f1f2f4;

  &__title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #727a82;
  }

  &__text {
    margin-bottom: 50px;
    font-family: "Anton", "Arial", sans-serif;
    font-weight: normal;
    font-size: 128px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text-column {
    width: 400px;
  }

  &__button {
    display: inline-block;
    vertical-align: middle;
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background-color: #151c22;
  }

  &__img-column {
    position: relative;
    width: 430px;
    padding: 50px 50px;
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 232px;
      height: 176px;
      z-index: -1;
    }

    &::before {
      top: 0;
      left: 0;
      background-image: url(./line-top.png);
    }

    &::after {
      bottom: 0;
      right: 0;
      background-image: url(./line-bottom.png);
    }
  }
}
