.main-header {
  &__logo {
    padding: 25px 0 20px;
    margin: auto;
  }

  &__nav-wrapper {
    display: flex;
    justify-content: flex-start;
  }
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
  font-size: 16px;
  line-height: 19px;

  &__item {
    padding: 25px 0;
    margin-right: 35px;
  }
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    padding: 20px 0;
    margin-left: 35px;
  }
}


