.main-header__logo {
  padding: 25px 0 20px;
  margin: auto;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 400px;
  font-size: 16px;
  line-height: 19px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  padding: 25px 0;
  margin-right: 35px;
}

.user-navigation__item {
  padding: 20px 0;
  margin-left: 35px;
}

.main-header-nav-wrapper {
  display: flex;
  justify-content: flex-start;
}
